@page "/Routines/{identifier}"
@using Skinshare.Core.Entities
@model Skinshare.Web.Pages.Routines.DetailsModel

@{
    ViewData["Title"] = Model.Routine.Title;
}

<div class="mdc-layout-grid py-4 py-lg-5" style="max-width: 1100px;">
    <div class="mdc-layout-grid__inner">
        <div
            class="view-wrapper mdc-layout-grid__cell mdc-layout-grid__cell--align-center mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-12-tablet mb-3">
            <div class="routine flex-grow-1 bg-white">
                <h2 class="routine__title px-2 px-lg-0">@Html.DisplayFor(model => model.Routine.Title)</h2>

                @if (!string.IsNullOrEmpty(Model.Routine.Description))
                {
                    <p class="routine__description px-2 px-lg-0">
                        @Html.DisplayFor(model => model.Routine.Description)
                    </p>
                }

                <div class="steps">
                    <div class="steps__timeOfDay mdc-list mdc-list--non-interactive">
                        <li class="mdc-list-item mdc-ripple-upgraded morning">
                            <span class="mdc-list-item__graphic material-icons" aria-hidden="true">wb_sunny</span>
                            <span class="mdc-list-item__text">Morning</span>
                        </li>
                    </div>
                    <ul>
                        @foreach (var step in @Model.MorningSteps)
                        {
                            <li class="single">
                                <ul>
                                    <li class="order">Step @Html.DisplayFor(_ => step.Order)</li>
                                    <li class="step-description">@Html.DisplayFor(_ => step.Description)</li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
                <div class="steps">
                    <div class="steps__timeOfDay mdc-list mdc-list--non-interactive">
                        <li class="mdc-list-item mdc-ripple-upgraded evening">
                            <span class="mdc-list-item__graphic material-icons" aria-hidden="true">nights_stay</span>
                            <span class="mdc-list-item__text">Evening</span>
                        </li>
                    </div>
                    <ul>
                        @foreach (var step in @Model.EveningSteps)
                        {
                            <li class="single">
                                <ul>
                                    <li class="order">Step @Html.DisplayFor(_ => step.Order)</li>
                                    <li class="step-description">@Html.DisplayFor(_ => step.Description)</li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>

                <div role="separator" class="divider mt-4"></div>

                <div class="mdc-card__actions justify-content-end">
                    <div class="mdc-card__action-buttons">
                        <button class="mdc-button mdc-card__action mdc-card__action--button">
                            <span
                                class="mdc-button__ripple">
                            </span>Download PNG
                        </button>
                        <button class="mdc-button mdc-card__action mdc-card__action--button">
                            <span
                                class="mdc-button__ripple">
                            </span>Print
                        </button>
                        <button id="CopyPermalink" class="mdc-button mdc-card__action mdc-card__action--button">
                            <span
                                class="mdc-button__ripple">
                            </span>Copy Permalink
                        </button>
                    </div>
                </div>

                <div class="mdc-dialog">
                    <div class="mdc-dialog__container">
                        <div class="mdc-dialog__surface"
                             role="alertdialog"
                             aria-modal="true"
                             aria-labelledby="my-dialog-title"
                             aria-describedby="my-dialog-content">
                            <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
                            <h2 class="mdc-dialog__title" id="my-dialog-title">
                                <!--
                                -->Copy Permalink<!--
                                -->
                            </h2>
                            <div class="mdc-dialog__content" id="my-dialog-content">
                                <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label">
                                    <input class="mdc-text-field__input" id="text-field-hero-input">
                                    <div class="mdc-notched-outline">
                                        <div class="mdc-notched-outline__leading"></div>
                                        <div class="mdc-notched-outline__notch"></div>
                                        <div class="mdc-notched-outline__trailing"></div>
                                    </div>
                                </div>
                            </div>
                            <footer class="mdc-dialog__actions">
                                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="copyToClipboard">
                                    <div class="mdc-button__ripple"></div>
                                    <span class="mdc-button__label">Copy to Clipboard</span>
                                </button>
                            </footer>
                        </div>
                    </div>
                    <div class="mdc-dialog__scrim"></div>
                </div>
            </div>
        </div>
    </div>
</div>